<section data-ng-controller="GroupsController">
	<div class="page-header">
		<h1>新建分组</h1>
	</div>
	<div class="col-md-12">
		<form name="groupForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
                <div class="form-group">
                    <label class="control-label" for="group_type">选择分组类型</label>
                    <div class="controls">
                        <select id="group_type"  ng-model="group_type"   ng-change="change_group_type()"  name="group_type" data-ng-model="group_type">
                            <option value="NJ_GROUP" ng-selected="true">年级分组</option>
                            <option value="ZY_GROUP">专业分组</option>
                            <option value="BJ_GROUP">班级分组</option>
                            <option value="JS_GROUP">教师分组</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="group_type">已有分组</label>
                    <div class="controls">
                        <ul class="list-group">
                            <li class="list-group-item"   ng-repeat="group in groups">
                                {{group.group_name}}}
                            </li>

                        </ul>

                    </div>
                </div>

				<div class="form-group">
					<label class="control-label" for="content">输入分组</label>
					<div class="controls">
						<textarea name="content" data-ng-model="content" id="content" class="form-control"  placeholder="Content"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default" value="添加分组">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>