<section data-ng-controller="CoursesController" data-ng-init="initdirection()">
	<div class="page-header">
		<h1>New Course</h1>
	</div>
	<div class="col-md-12">
		<form name="courseForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
                <div class="form-group">
                    <label class="control-label" for="direction">选择专业</label>
                    <div class="controls">
                        <select ng-model="direction" id="direction" ng-options="direction.direction_name for direction in directions">

                        </select>
                    </div>
                </div>
				<div class="form-group" ng-class="{ 'has-error': courseForm.course_name.$dirty && courseForm.course_name.$invalid }">
					<label class="control-label" for="course_name">课程名称</label>
					<div class="controls">
						<input name="course_name" type="text" data-ng-model="course_name" id="course_name" class="form-control" placeholder="课程名称" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="course_desc">课程简介</label>
					<div class="controls">
						<textarea name="course_desc" data-ng-model="course_desc" id="course_desc" class="form-control" cols="30" rows="10" placeholder="课程简介"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>