<section data-ng-controller="CoursesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Course</h1>
	</div>
	<div class="col-md-12">
		<form name="courseForm" class="form-horizontal" data-ng-submit="update(courseForm.$valid)" novalidate>
			<fieldset>
                <div class="form-group">
                    <label class="control-label" for="mm">选择专业</label>
                    <div class="controls">
                        <select ng-model="m"    id="mm"   ng-options="direction.direction_name for direction in directions"></select>
                    </div>
                </div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && courseForm.course_name.$invalid}">
					<label class="control-label" for="course_name">课程名称</label>
					<div class="controls">
						<input name="course_name" type="text" data-ng-model="course.course_name" id="course_name" class="form-control" placeholder="Title" required>
					</div>
					<div ng-show="submitted && courseForm.course_name.$invalid" class="help-block">
						<p ng-show="courseForm.course_name.$error.required" class="text-danger">名称不能为空</p>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && courseForm.course_desc.$invalid}">
					<label class="control-label" for="course_desc">Content</label>
					<div class="controls">
						<textarea name="course_desc" data-ng-model="course.course_desc" id="course_desc" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
					</div>
					<div ng-show="submitted && courseForm.course_desc.$invalid" class="help-block">
						<p ng-show="courseForm.course_desc.$error.required" class="text-danger">Content is required</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>

	</div>
</section>