<section data-ng-controller="PointsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>编辑专业方向</h1>
	</div>
	<div class="col-md-12">
		<form name="pointForm" class="form-horizontal" data-ng-submit="update(pointForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && pointForm.point_name.$invalid}">
					<label class="control-label" for="point_name">专业名称</label>
					<div class="controls">
						<input name="point_name" type="text" data-ng-model="point.point_name" id="point_name" class="form-control" placeholder="Title" required>
					</div>
					<div ng-show="submitted && pointForm.point_name.$invalid" class="help-block">
						<p ng-show="pointForm.point_name.$error.required" class="text-danger">Title is required</p>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && pointForm.point_desc.$invalid}">
					<label class="control-label" for="point_desc">专业描述</label>
					<div class="controls">
						<textarea name="point_desc" data-ng-model="point.point_desc" id="point_desc" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
					</div>
					<div ng-show="submitted && pointForm.point_desc.$invalid" class="help-block">
						<p ng-show="pointForm.point_desc.$error.required" class="text-danger">Content is required</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>