<section data-ng-controller="ChoicesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Choice</h1>
	</div>
	<div class="col-md-12">
		<form name="choiceForm" class="form-horizontal" data-ng-submit="update(choiceForm.$valid)" novalidate>
			<fieldset>
                <div class="form-group">
                    <label class="control-label" for="mm">选择专业</label>
                    <div class="controls">
                        <select ng-model="direction"    id="mm"   ng-options="direction.direction_name for direction in directions"></select>
                    </div>
                </div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && choiceForm.choice_name.$invalid}">
					<label class="control-label" for="choice_name">课程名称</label>
					<div class="controls">
						<input name="choice_name" type="text" data-ng-model="choice.choice_name" id="choice_name" class="form-control" placeholder="Title" required>
					</div>
					<div ng-show="submitted && choiceForm.choice_name.$invalid" class="help-block">
						<p ng-show="choiceForm.choice_name.$error.required" class="text-danger">名称不能为空</p>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && choiceForm.choice_desc.$invalid}">
					<label class="control-label" for="choice_desc">Content</label>
					<div class="controls">
						<textarea name="choice_desc" data-ng-model="choice.choice_desc" id="choice_desc" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
					</div>
					<div ng-show="submitted && choiceForm.choice_desc.$invalid" class="help-block">
						<p ng-show="choiceForm.choice_desc.$error.required" class="text-danger">Content is required</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>

	</div>
</section>