<section data-ng-controller="ExamsController" data-ng-init="find()">
    <div class="page-header">
        <h1>未完成考试</h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">面板标题</h3>
        </div>
        <div class="panel-body">

            <div class="row">

                <div class="col-md-4" data-ng-repeat="exam in exams">

                        <h3 data-ng-bind="exam.exam_name">Heading</h3>
                        <p>考试开始时间：<span data-ng-bind="exam.exam_startDate|date:'yyyy年MM月dd HH:mm:ss'"></span>

                        </p>
                        <p>
                            考试结束时间：<span data-ng-bind="exam.exam_endDate|date:'yyyy年MM月dd HH:mm:ss'"></span>
                        </p>
                        <p>
                            考试分组：
                            <p><span data-ng-repeat="group in exam.exam_group">
                                     <span data-ng-bind="group"></span>/
                            </span>
                            </p>
                        </p>
                        <p><a class="btn btn-success" href="#" data-ng-click="startAnswer(exam._id)" role="button">开始考试 &raquo;</a></p>


                </div>
            </div>





        </div>
    </div>


</section>