<section data-ng-controller="ExamsController" data-ng-init="findOne()">
<div class="page-header">
    <h1 data-ng-bind="exam.exam_name"></h1>
    <a class="btn btn-success" ng-click="endExamEdit()">完成试卷</a>
</div>
<!--<div class="pull-right" data-ng-show="authentication.user._id == exam.user._id">-->
<!--<div class="pull-right" >-->
<!--<a class="btn btn-primary" href="/#!/exams/{{exam._id}}/edit">-->
<!--<i class="glyphicon glyphicon-edit"></i>-->
<!--</a>-->
<!--<a class="btn btn-primary" data-ng-click="remove();">-->
<!--<i class="glyphicon glyphicon-trash"></i>-->
<!--</a>-->
<!--</div>-->
<form class="form-horizontal">


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">试卷信息</h3>
    </div>
    <div class="row">
        <div class="form-group"></div>
        <div class="form-group">
            <label for="exam_name" class="col-sm-2 control-label text-right">考试名称</label>

            <div class="col-sm-6">
                <input type="text" ng-model="exam.exam_name" class="form-control" id="exam_name">
            </div>
            <div class="col-sm-2">
                <a class="btn btn-success" ng-click="saveExamTime()">保存试卷名称</a>
            </div>
        </div>

        <div class="form-group">
            <label for="exam_group" class="col-sm-2 control-label text-right">考试分组</label>

            <div class="col-sm-6">
                  <a ng-repeat="group in exam.exam_group" class="btn btn-danger" ng-click="removeGroup(group)"> 【{{group}}】分组|删除</a>
            </div>
            <div class="col-sm-2">
                <div class="btn-group">
                    <button class="btn btn-success" ng-click="editGroups()">添加</button>
                    <button class="btn btn-success" ng-click="hideSelectGroup()">隐藏</button>
                </div>
                <div ng-show="showSelectGroup">
                    <div class="form-group">
                        <label class="control-label" for="group_type">选择分组类型</label>
                        <div class="controls">
                            <select name="group_type" data-ng-model="group_type" id="group_type"
                                    ng-change="change_group_type()">
                                <option ng-selected="true">请选择分组</option>
                                <option value="年级分组">年级分组</option>
                                <option value="班级分组">班级分组</option>
                                <option value="教师分组">教师分组</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">已有分组</label>

                        <div class="controls">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="group in groups">
                                    <span data-ng-bind="group.group_name"></span>
                                    <a class="btn btn-default" ng-click="addGroup(group.group_name)">添加</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!--<div class="col-sm-6" >-->
        <!--<input  ng-model="exam.exam_name"  id="exam_name" class="form-control"   />-->
        <!--</div>-->

        <div class="form-group">
            <label for="exam_time" class="col-sm-2 control-label text-right">考试时长</label>

            <div class="col-sm-6">
                <input ng-model="exam.exam_time" id="exam_time" class="form-control"/>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-success" ng-click="saveExamTime()">保存考试时长</a>
            </div>
        </div>

        <div class="form-group">
            <label for="exam_time" class="col-sm-2 control-label text-right">考试起止时间</label>

            <div class="col-sm-3">
                <input type="datetime" date-time ng-model="exam.exam_startDate" id="exam_startDate" class="form-control"/>
            </div>
            <div class="col-sm-3">
                <input type="datetime" date-time ng-model="exam.exam_endDate" id="exam_endDate" class="form-control"/>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-success" ng-click="saveExamTime()">保存起止时间</a>
            </div>
        </div>

        <!--<div class="row">-->
        <!--<div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>-->
        <!--</div>-->


    </div>


</div>
<!--添加 考试题目开始-->
<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title">添加题目</h3>
    </div>
    <div class="panel-body">
        <textarea class="form-control" rows="10" ng-model="textContent">

        </textarea>

        <input type="button" class="btn-primary" ng-click="check()" value="识别">
        <input type="button" class="btn-info" ng-click="addQuestion()" value="加入试题库">

    </div>
    <div id="question_title" ng-show="questionnew.question_title!=''">
        题目：<input class="form-control" ng-model="questionnew.question_title"/>
    </div>
    <div class="list-group" id="question_choices">

        <div class="row" data-ng-repeat="choice in questionnew.question_choices">
            <!--<span>{{choice.title}}</span>-->

            <div class="col-sm-1">
                <input type="checkbox" class="form-control" ng-checked="choice.istrue" ng-model="choice.istrue">
            </div>
            <div class="col-sm-11">
                <input type="text" class="form-control" cols="20" ng-model="choice.title"/>
            </div>
        </div>


    </div>

</div>
<!--添加 考试题目结束-->
<!--展示所有考试题目开始-->
<div class="controls" data-ng-repeat="question in exam.exam_questions">
    <div class="" id="question.question_title">
        <span data-ng-bind="'第'+($index+1)+'题'"></span>题目：<span class="content"
                                                                data-ng-bind="question.question_title"></span>
        <a class="btn btn-primary" href="/#!/questions/{{question._id}}/edit/exam/{{exam._id}}">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="removeOne(question._id)">
            <!--<a class="btn btn-primary" href="/#!/questions/{{question._id}}/delete">-->
            <i class="glyphicon glyphicon-trash"></i>
        </a>
        <!--<a class="btn btn-primary" ng-click="editQuestion(question._id)" >-->
        <!--<i class="glyphicon glyphicon-alert"></i>-->
        <!--</a>-->
        <div id="question._id"></div>
    </div>
    <div class="list-group" id="question.question_choices">
        <div class="list-column" data-ng-repeat="choice in question.question_choices">
            <!--<span>{{choice.title}}</span>-->
            <span data-ng-bind="dowork($index+65)"></span>
            <input type="checkbox" ng-disabled="flase" ng-checked="choice.istrue" cols="10"
                   ng-model="choice.istrue">
            <span type="text" class="form-inline" cols="20" data-ng-bind="choice.title"></span>

        </div>

    </div>
    <div>

    </div>
    <!--<select size="10"  name="question_choices"-->
    <!--id="question_choices" ng-options="choice for choice in question_choices"-->
    <!--ng-model="question_choice"   class="form-control" cols="30" rows="10" >-->

    <!--</select>-->
</div>

<!--展示所有考试题目结束-->
<!--&lt;!&ndash; 修改考试题开始&ndash;&gt;-->
<!--&lt;!&ndash;<style>&ndash;&gt;-->
<!--&lt;!&ndash;.question_e_left{&ndash;&gt;-->
<!--&lt;!&ndash;left:'{{question_e_left}}';&ndash;&gt;-->

<!--&lt;!&ndash;}&ndash;&gt;-->
<!--&lt;!&ndash;</style>&ndash;&gt;-->
<!--<div ng-show="false" id="div_e">-->
<!--<div class="" id="question_e.question_title">-->
<!--<span data-ng-bind="'第'+($index+1)+'题'"></span>题目：<span class="content" data-ng-bind="question_e.question_title"></span>-->
<!--<a class="btn btn-primary" href="/#!/questions/{{question._id}}/edit">-->
<!--<i class="glyphicon glyphicon-edit"></i>-->
<!--</a>-->
<!--<a class="btn btn-primary" data-ng-click="removeOne(question._id)">-->
<!--&lt;!&ndash;<a class="btn btn-primary" href="/#!/questions/{{question._id}}/delete">&ndash;&gt;-->
<!--<i class="glyphicon glyphicon-trash"></i>-->
<!--</a>-->
<!--<a class="btn btn-primary" ng-click="editQuestion($event)" >-->
<!--<i class="glyphicon glyphicon-alert"></i>-->
<!--</a>-->
<!--</div>-->
<!--<div class="list-group" id="question_e.question_choices">-->
<!--<div class="list-column" data-ng-repeat="choice in question_e.question_choices">-->
<!--&lt;!&ndash;<span>{{choice.title}}</span>&ndash;&gt;-->
<!--<span data-ng-bind="dowork($index+65)"></span>-->
<!--<input type="checkbox" ng-disabled="flase" ng-checked="choice.istrue" cols="10"-->
<!--ng-model="choice.istrue">-->
<!--<span type="text" class="form-inline" cols="20" data-ng-bind="choice.title" ></span>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; 修改考试题结束&ndash;&gt;-->
</form>
</section>