<section data-ng-controller="QuestionsController" data-ng-init="findBatch()">
    <div class="page-header">

    </div>

    <div class="content">
        <textarea class="form-control" rows="10" ng-model="textContent">

        </textarea>

        <input type="button" class="btn-primary" ng-click="check()" value="识别">
        <input type="button" class="btn-info" ng-click="addQuestion()" value="加入试题库">

    </div>
    <div class="controls">
        <select name="question_type" ng-model="question.question_type">
            <option value="OC">单项选择</option>
            <option value="MC">多项选择</option>
            <option value="SA">简单题</option>
            <option value="QA">问答题</option>
        </select>
    </div>
    <div   id="question_title"  ng-show="question.question_title!=''">
        题目：<input class="form-control" ng-model="question.question_title"/>
    </div>
    <div class="list-group" id="question_choices">

        <div class="row" data-ng-repeat="choice in question.question_choices">
            <!--<span>{{choice.title}}</span>-->

            <div class="col-sm-1">
                <input type="checkbox" class="form-control" ng-checked="choice.istrue" ng-model="choice.istrue">
            </div>
            <div class="col-sm-11">
                <input type="text" class="form-control" cols="20" ng-model="choice.title"/>
            </div>
        </div>


    </div>
</section>