<section data-ng-controller="QuestionsController" data-ng-init="initdirection()">
	<div class="page-header">
		<h1>新建知识点</h1>
	</div>
	<div class="col-md-12">
		<form name="questionForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>

                <div class="form-group">
                    <label class="control-label" for="direction">选择专业</label>
                    <div class="controls">
                        <select ng-model="direction"  ng-change="changeDirection()"    id="direction" ng-options="direction.direction_name for direction in directions">
                            <option value="">选择专业</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="courses">选择课程</label>
                    <div class="controls">
                        <select ng-model="course"  ng-change="changeCourse()"    id="courses" ng-options="course.course_name for course in courses">
                            <option value="">请选择课程</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="courses">选择知识点</label>
                    <div class="controls">
                        <select ng-model="point"    id="points" ng-options="point.point_name for point in points">
                            <option value="">请选择知识点</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="courses">选择试题类型</label>
                    <div class="controls">
                        <select name="question_type" data-ng-model="question_type">
                            <option value="OC" ng-selected="true">单项选择</option>
                            <option value="MC">多项选择</option>
                            <option value="SA">简单题</option>
                            <option value="QA">问答题</option>
                        </select>
                    </div>
                </div>

				<div class="form-group" ng-class="{ 'has-error': questionForm.question_title.$dirty && questionForm.question_title.$invalid }">
					<label class="control-label" for="question_title">试题题干</label>
					<div class="controls">
						<input name="question_title" type="text" data-ng-model="question_title" id="question_title" class="form-control" placeholder="试题题干" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="question_choices">试题选项</label>
                    <input type="text" ng-model="choice_title"   class="form-control">
                    <input type="button" ng-click="addchoice()" class="btn"  value="添加">
                    <!--<input type="button" ng-click="xx()" class="btn"  value="打印">-->

					<div class="controls">
                        <div class="list-group" id="question_choices">
                             <div class="list-column"  data-ng-repeat="choice in question_choices" >
                                 <!--<span>{{choice.title}}</span>-->
                                 <input type="text" class="form-inline" cols="20" ng-model="choice.title"  >
                                 <input type="checkbox"  ng-checked="choice.istrue" cols="10" ng-model="choice.istrue">
                             </div>

                        </div>
						<!--<select size="10"  name="question_choices"-->
                                <!--id="question_choices" ng-options="choice for choice in question_choices"-->
                                <!--ng-model="question_choice"   class="form-control" cols="30" rows="10" >-->

						<!--</select>-->
					</div>
				</div>
                <div class="form-group">
                    <label class="control-label" for="question_answer">试题答案</label>
                    <div class="controls">
                        <textarea name="question_answer" data-ng-model="question_answer" id="question_answer"
                                  class="form-control" cols="30" rows="5" placeholder="试题答案"></textarea>
                    </div>
                </div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>