<section data-ng-controller="AnswersController" data-ng-init="find()">
	<div class="page-header">
		<h1>Articles</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="answer in answers" data-ng-href="#!/answers/{{answer._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="answer.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="answer.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="answer.title"></h4>
			<p class="list-group-item-text" data-ng-bind="answer.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="answers.$resolved && !answers.length">
		No answers yet, why don't you <a href="/#!/answers/create">create one</a>?
	</div>
</section>